Projects/Libraries/Znode.Engine.ShoppingCart.Custom/Connected Services/JitShippingService/TPWXMLService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TPWXMLService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ITPWXMLService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://qawebservices.packagingwholesalers.com:2053/TPWXMLService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://qawebservices.packagingwholesalers.com:2053/TPWXMLService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://qawebservices.packagingwholesalers.com:2053/TPWXMLService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcfTPWXML" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITPWXMLService_Approve_InputMessage">
    <wsdl:part name="parameters" element="tns:Approve" />
  </wsdl:message>
  <wsdl:message name="ITPWXMLService_Approve_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApproveResponse" />
  </wsdl:message>
  <wsdl:message name="ITPWXMLService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="ITPWXMLService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="ITPWXMLService_Quote_InputMessage">
    <wsdl:part name="parameters" element="tns:Quote" />
  </wsdl:message>
  <wsdl:message name="ITPWXMLService_Quote_OutputMessage">
    <wsdl:part name="parameters" element="tns:QuoteResponse" />
  </wsdl:message>
  <wsdl:message name="ITPWXMLService_OrderStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:OrderStatus" />
  </wsdl:message>
  <wsdl:message name="ITPWXMLService_OrderStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrderStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ITPWXMLService_GetCatalogData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCatalogData" />
  </wsdl:message>
  <wsdl:message name="ITPWXMLService_GetCatalogData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCatalogDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITPWXMLService_GetQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuote" />
  </wsdl:message>
  <wsdl:message name="ITPWXMLService_GetQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="ITPWXMLService_Test1_InputMessage">
    <wsdl:part name="parameters" element="tns:Test1" />
  </wsdl:message>
  <wsdl:message name="ITPWXMLService_Test1_OutputMessage">
    <wsdl:part name="parameters" element="tns:Test1Response" />
  </wsdl:message>
  <wsdl:message name="ITPWXMLService_TestXmlElement_InputMessage">
    <wsdl:part name="parameters" element="tns:TestXmlElement" />
  </wsdl:message>
  <wsdl:message name="ITPWXMLService_TestXmlElement_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestXmlElementResponse" />
  </wsdl:message>
  <wsdl:message name="ITPWXMLService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="ITPWXMLService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="ITPWXMLService">
    <wsdl:operation name="Approve">
      <wsdl:input wsaw:Action="http://tempuri.org/ITPWXMLService/Approve" message="tns:ITPWXMLService_Approve_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITPWXMLService/ApproveResponse" message="tns:ITPWXMLService_Approve_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/ITPWXMLService/Create" message="tns:ITPWXMLService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITPWXMLService/CreateResponse" message="tns:ITPWXMLService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Quote">
      <wsdl:input wsaw:Action="http://tempuri.org/ITPWXMLService/Quote" message="tns:ITPWXMLService_Quote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITPWXMLService/QuoteResponse" message="tns:ITPWXMLService_Quote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrderStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ITPWXMLService/OrderStatus" message="tns:ITPWXMLService_OrderStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITPWXMLService/OrderStatusResponse" message="tns:ITPWXMLService_OrderStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCatalogData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITPWXMLService/GetCatalogData" message="tns:ITPWXMLService_GetCatalogData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITPWXMLService/GetCatalogDataResponse" message="tns:ITPWXMLService_GetCatalogData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/ITPWXMLService/GetQuote" message="tns:ITPWXMLService_GetQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITPWXMLService/GetQuoteResponse" message="tns:ITPWXMLService_GetQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test1">
      <wsdl:input wsaw:Action="http://tempuri.org/ITPWXMLService/Test1" message="tns:ITPWXMLService_Test1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITPWXMLService/Test1Response" message="tns:ITPWXMLService_Test1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestXmlElement">
      <wsdl:input wsaw:Action="http://tempuri.org/ITPWXMLService/TestXmlElement" message="tns:ITPWXMLService_TestXmlElement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITPWXMLService/TestXmlElementResponse" message="tns:ITPWXMLService_TestXmlElement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ITPWXMLService/GetDataUsingDataContract" message="tns:ITPWXMLService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITPWXMLService/GetDataUsingDataContractResponse" message="tns:ITPWXMLService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ITPWXMLService" type="tns:ITPWXMLService">
    <wsp:PolicyReference URI="#WSHttpBinding_ITPWXMLService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Approve">
      <soap12:operation soapAction="http://tempuri.org/ITPWXMLService/Approve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/ITPWXMLService/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Quote">
      <soap12:operation soapAction="http://tempuri.org/ITPWXMLService/Quote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderStatus">
      <soap12:operation soapAction="http://tempuri.org/ITPWXMLService/OrderStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCatalogData">
      <soap12:operation soapAction="http://tempuri.org/ITPWXMLService/GetCatalogData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuote">
      <soap12:operation soapAction="http://tempuri.org/ITPWXMLService/GetQuote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Test1">
      <soap12:operation soapAction="http://tempuri.org/ITPWXMLService/Test1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestXmlElement">
      <soap12:operation soapAction="http://tempuri.org/ITPWXMLService/TestXmlElement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap12:operation soapAction="http://tempuri.org/ITPWXMLService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TPWXMLService">
    <wsdl:port name="WSHttpBinding_ITPWXMLService" binding="tns:WSHttpBinding_ITPWXMLService">
      <soap12:address location="https://qawebservices.packagingwholesalers.com:2053/TPWXMLService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://qawebservices.packagingwholesalers.com:2053/TPWXMLService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>